*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $neutral-900;
}

img {
  max-width: 100%; /* 使圖片在容器內響應式 */
  height: auto;
  vertical-align: middle; /* Ensures images align properly in text */
}

a {
  color: $neutral-900;
  display: block;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $primary-400;
  }
}

/* 通用樣式 */
.display-1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.display-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.paragraph-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.paragraph-lg {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1320px; /* 1290+24(左右內邊距) */
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (max-width: 576px) {
  .h2-sm{
    font-size: 32px;
  }
  
  .h3-sm {
    font-size: 28px;
  }
  .h4-sm {
    font-size: 24px;
  }
  .h5-sm {
    font-size: 20px;
  }
  .h6-sm {
    font-size: 16px;
  }

  .display-2-sm{
    font-size: 48px;
  }

  .paragraph-md-sm {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}
