<header class="container py-16 df-flex align-center justify-between">
  <ul class="df-flex align-center">
    <li class="me-48">
      <a href="index.html"><img src="../assets/images/logo.svg" alt="" /></a>
    </li>
    <li class="me-40 d-none d-md-block">
      <a href="products.html">商品列表</a>
    </li>
    <li class="d-none d-md-block"><a href="story.html">品牌故事</a></li>
  </ul>
  <a href="#"><i class="bi bi-person"></i></a>
</header>