<header class="container py-16 df-flex align-center justify-between">
  <div class="df-flex align-center">
    <h1 class="me-48">
      <a href="index.html"><img src="../assets/images/logo.svg" alt="" /></a>
    </h1>
    <ul class="df-flex align-center">
      <li class="me-40 d-sm-none d-block">
        <a href="products.html">商品列表</a>
      </li>
      <li class="d-sm-none d-block"><a href="story.html">品牌故事</a></li>
    </ul>
  </div>
  <a href="#"><i class="bi bi-person"></i></a>
</header>
