a {
  color: $neutral-900;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: $primary-400;
}

.copyright {
  text-align: center;
  padding-top: 32px;
  border-top: 1px solid $neutral-300;
}