<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 首頁橫幅 -->
    <header class="home-header">
      <h1 class="display-1 text-white mb-16">URBNSTEP</h1>
      <h3 class="h3 text-white mb-48">Your Step, Your Statement</h3>
      <button class="btn btn-primary">立即選購</button>
    </header>

    <main class="container">
      <!-- 新品上市 -->
      <section class="new-arrival py-64">
        <div class="row">
          <div class="col-12 text-center mb-32">
            <h2 class="display-2 mb-12">New Arrival</h2>
            <p class="h2">新品上市</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="new-arrival-item mb-40">
              <img
                src="../assets/images/new-1.png"
                alt="Monoverse"
                class="mb-12"
              />
              <h3 class="h5 mb-4">Monoverse</h3>
              <p>NT$3,600</p>
            </div>
          </div>

          <div class="col-6">
            <div class="new-arrival-item mb-40">
              <img
                src="../assets/images/new-2.png"
                alt="PLATFORM 404"
                class="mb-12"
              />
              <h3 class="h5 mb-4">PLATFORM 404</h3>
              <p>NT$2,600</p>
            </div>
          </div>

          <div class="col-6">
            <div class="new-arrival-item">
              <img
                src="../assets/images/new-3.png"
                alt="URBN Force"
                class="mb-12"
              />
              <h3 class="h5 mb-4">URBN Force</h3>
              <p>NT$3,200</p>
            </div>
          </div>

          <div class="col-6">
            <div class="new-arrival-item">
              <img
                src="../assets/images/new-4.png"
                alt="Mode90"
                class="mb-12"
              />
              <h3 class="h5 mb-4">Mode90</h3>
              <p>NT$NT$4,000</p>
            </div>
          </div>
        </div>
      </section>

      <!-- 熱銷補貨 -->
      <section class="restock">
        <h2 class="h2 mb-16">熱銷補貨</h2>
        <div class="row">
          <div class="col-3">
            <div class="restock-item"></div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
